#myname {
 color: Blue;
 font-size: 32px;
}

.topthreeparagraphs {
 color: Green;
}


#firstfav {
 font-size: 42px;
 font-weight: 410;
 color: Orange;

}

#secondfav {
 font-size: 40px;
   font-weight: 390;
   color: Red;
}

#thirdfav {
 font-size: 38px;
 font-weight: 400;
 color: Green;
}

#fourthfav {
 font-size: 36px;
 font-weight: 420;
 color: Yellow;
}

#quotes {
 font-weight: bold;
}

#firstquote {
 color: Orange;
 font-size: 20px;
 font-family: 'Times New Roman'
}
#secondquote {
 color: Green;
 font-size:18px;
 font-family: 'Ariel'

}

#thirdquote {
 color: Grey;
 font-size: 19px;
 font-family: 'Sanscript'
}
body {
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

header {
 padding: 20px 0;
}

header .row,
footer .row {
 display: flex;
 align-items: center;
}

header h1 {
 font-weight: 700;
 margin: 0;
}

header nav {
 display: flex;
 justify-content: flex-end;
}

header p {
 padding: 0 20px;
 margin: 0;
}

.jumbotron {
 display: flex;
 align-items: center;
 background-image: url('https://cdn.abcotvs.com/dip/images/4049676_082518-wpvi-sea-lice-ocmd-IMG.jpg?w=1280&r=16%3A9');
 background-size: cover;
 color: white;
 height: 800px;
 text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
 font-size: 60px;
 font-weight: 700;
 margin: 0;
 color: #fff;
}

.jumbotron h3 {
 margin: 0 0 20px;
 color: #fff;
}

section .row img {
 margin: 0 0 30px;
 width: 100%;
}

.col-md-6 {
 margin: 0 0 30px;
}

.btn.btn-primary {
 border-radius: 2px;
 border: 0px;
 color: #fbd1d5;
 text-shadow: none;
 background-color: #ffffff;
}

.btn.btn-primary:hover {
 color: #ffffff;
 background-color: #fbd1d5;
}

.btn-secondary {
 background-color: #E8DFE0;
 color: #ffffff;
 margin: 0 0 30px;
}

footer {
 font-size: 12px;
 padding: 20px 0;
}

footer .col-sm-8 {
 display: flex;
 justify-content: flex-end;
}

footer ul {
 list-style: none;
}

footer li img {
 width: 32px;
 height: 32px;
}